@{
    ViewData["Title"] = "Confirme a senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Link Enviado</h2>
<p>Se o e-mail informado estiver correto, você receberá um link para redefinir sua senha.</p>
