@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Usuario"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Vasos" asp-action="MeusVasos">Meus Vasos</a>
        </li>
    }
}
